<div class="row-fluid">
    <nav class="span2">
        <!--<span id="app-name"><input type="text" class="text" placeholder="" ng-model="appName"/></span>-->
        <input type="file" id="files" name="file" style="display: none"/>
        <!--<div id="progress_bar"><div class="percent">0%</div></div>-->
        <!--<button ng-click="reset()" ng-hide="true">Reset</button>-->
        <br>
        <button class="btn btn-inverse btn-block" ng-click="changeMode()">
            Switch Preview/Edit Mode
        </button>
        <button class="btn btn-inverse btn-block" ng-click="download()" ng-show="editMode">
            Export Project
        </button>
        <p id="downloadFile">
            <!-- You must have Flash 10 installed to download App Data file. -->
        </p>

        <div class="image-list" ng-show="editMode">
            <div id="drop_zone" class="dropzone">
                + drop files here
            </div>
            <div class="image" ng-repeat="screen in screenList">
                <input type="radio" name="screens" id="radio_{{$index}}" ng-checked="$index == 1">
                <label for="radio_{{$index}}" title="{{screen.imageName}}">
                    <img ng-src="{{images[screen.id].imageData}}" ng-init="screen.getImageData()"
                         ng-click="selectScreen(screen.id)"/>
                    <span class="name">
                        {{screen.imageName}}
                    </span>
                </label>
                <button class="btn btn-danger btn-mini" ng-click="setScreenAsLandingPage(screen)">Landing Page</button>
                <button class="btn btn-danger btn-mini" ng-click="deleteScreen(screen.id)">X</button>
            </div>
        </div>

    </nav>
    <div class="edit span10" ng-show="editMode">
        <div class="screen-holder">
            <div class="screen">
                <img ng-src="{{images[screen.id].imageData}}" ng-init="screen.getImageData()"
                     ng-dblclick="addSpot($event,screen.id)">

                <div class="spot-holder" draggable
                     style="top:{{spot.top}}px; left: {{spot.left}}px; width:{{spot.width}}px; height: {{spot.height+20}}px"
                     ng-repeat="spot in screen.hotspots" data-screen="{{screen.id}}" data-id="{{$index}}"
                     title="{{screens[spot.target].imageName || 'Double click on me &amp; choose target image from left'}}"
                     ng-class="{'animated pulse':spotId == $index }">
                    <span class="btn btn-danger btn-mini delete" ng-click="deleteSpot(screen.id,
                    $index)">
                        X
                    </span>
                    <span class="handle">
                    </span>
                    <span resizable class="spot" ng-class="{haveTarget:spot.target}" data-screen="{{screen.id}}"
                          data-id="{{$index}}"
                          style="width:{{spot.width}}px; height: {{spot.height}}px; line-height: {{spot.height}}px"
                          ng-dblclick="selectTarget(screen.id, $index)">
                        <span>{{screens[spot.target].imageName || 'No target yet ...'}}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="spot-list">
            <div class="fold" ng-click="toggleSpotList()">
                <strong>{{screen.hotspots.length}}</strong> Hotspots
            </div>
            <div class="list" ng-show="!showHotspot">
                <ul class="unstyled">
                    <li ng-repeat="spot in screen.hotspots">
                        <span ng-click="selectTarget(screen.id, $index)">
                            {{screens[spot.target].imageName || 'No target yet ...'}}
                        </span>
                        <button class="btn btn-mini btn-danger" ng-click="deleteSpot(screen.id,$index)">
                            X
                        </button>
                        <button class="btn btn-mini btn-primary" ng-click="makePersistent(spot, screen.id)">Make
                            persistent
                        </button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="view" ng-show="!editMode">
    <div class="screen">
        <img ng-src="{{images[screen.id].imageData}}" ng-init="screen.getImageData()">
        <span class="link" ng-click="changeScreen(spot.target)"
              style="top:{{spot.top+28}}px; left: {{spot.left+2}}px; width:{{spot.width}}px; height: {{spot.height}}px"
              ng-repeat="spot in screen.hotspots">
            <span class="dot" style="top:{{((spot.height/2)-10)}}px; left: {{((spot.width/2)-10)}}px;"></span>
        </span>
    </div>
</div>
