<div class="edit row-fluid" ng-show="editMode">
    <div class="screen-holder span12">
        <div class="screen" ng-init="changeScreen(screenList[0].id)">
            <img ng-src="{{screen.imageData}}" ng-click="addSpot($event,screen.id)">
            <div class="spot-holder" draggable ng-click="selectTarget(screen.id, $index)"
            style="top:{{spot.top}}px; left: {{spot.left}}px; width:{{spot.width}}px; height: {{spot.height+20}}px"
            ng-repeat="spot in screen.hotspots" data-screen="{{screen.id}}" data-id="{{$index}}"
            data-toggle="tooltip" title="Click on me &amp; choose target image from left"
            data-placement="bottom">
                <span class="btn btn-danger btn-mini delete" ng-click="deleteSpot(screen.id,
                $index)">
                    X
                </span>
                <span class="handle">
                </span>
                <span resizable class="spot" ng-class="{haveTarget:spot.target}" data-screen="{{screen.id}}"
                data-id="{{$index}}" style="width:{{spot.width}}px; height: {{spot.height}}px; line-height: {{spot.height}}px">
                    <!-- <span class="target"> -->
                    {{screens[spot.target].imageName || 'No target yet ...'}}
                    <!-- </span> -->
                </span>
            </div>
        </div>
    </div>
    <div class="image-list">
        <div id="drop_zone" class="dropzone">
            + drop files here
        </div>
        <div class="image" ng-repeat="screen in screenList">
            <input type="radio" name="screens" id="radio_{{$index}}">
            <label for="radio_{{$index}}">
                <img src="{{screen.imageData}}" ng-click="selectScreen(screen.id)" />
                <span class="name">
                    {{screen.imageName}}
                </span>
            </label>
        </div>
    </div>
    <div class="spot-list">
        <ol>
            <li ng-repeat="spot in screen.hotspots">
                {{screens[spot.target].imageName || 'No target yet ...'}}
                <button class="btn btn-mini btn-danger" ng-click="deleteSpot(screen.id,$index)">
                    Delete
                </button>
            </li>
        </ol>
    </div>
</div>
<div class="view" ng-show="!editMode">
    <div class="screen" ng-init="changeScreen(screenList[0].id)">
        <img ng-src="{{screen.imageData}}">
        <span class="link" ng-click="changeScreen(spot.target)" style="top:{{spot.top+20}}px; left: {{spot.left}}px; width:{{spot.width}}px; height: {{spot.height}}px"
        ng-repeat="spot in screen.hotspots">
        </span>
    </div>
</div>
<div class="mode form-inline">
    <button class="btn btn-primary" ng-click="changeMode()">
        Switch Preview/Edit Mode
    </button>
</div>
