<div class="row-fluid">
    <nav class="span2">
        <!--<span id="app-name"><input type="text" class="text" placeholder="" ng-model="appName"/></span>-->
        <input type="file" id="files" name="file" style="display: none"/>
        <!--<div id="progress_bar"><div class="percent">0%</div></div>-->
        <!--<button ng-click="reset()" ng-hide="true">Reset</button>-->
        <br>
        <a class="btn btn-primary btn-block" href="https://github.com/skeep/proto">Project in Github</a>
        <!--<br>-->
        <button class="btn btn-inverse btn-block" ng-click="changeMode()">
            Switch Preview/Edit Mode
        </button>
        <button class="btn btn-inverse btn-block" ng-click="download()" ng-show="editMode">
            Export Project
        </button>
        <p id="downloadFile">
            <!-- You must have Flash 10 installed to download App Data file. -->
        </p>

        <div class="image-list" ng-show="editMode">
            <div id="drop_zone" class="dropzone">
                + drop files here
            </div>
            <div class="image" ng-repeat="screen in screenList" ng-class="{'landing':screenList.landing == screen.id }">
                <input type="radio" name="screens" id="radio_{{$index}}" ng-checked="$index == 0">
                <label for="radio_{{$index}}" title="{{screen.imageName}}">
                    <img ng-src="{{images[screen.id].imageData}}" ng-init="screen.getImageData()"
                         ng-click="selectScreen(screen.id)"/>
                    <span class="name">
                        {{screen.imageName}}
                    </span>
                </label>
                <button class="btn btn-danger btn-mini" ng-click="setScreenAsLandingPage(screen)">Landing Page</button>
                <button class="btn btn-danger btn-mini" ng-click="deleteScreen(screen.id)">X</button>
            </div>
        </div>

    </nav>
    <div class="edit span10" ng-show="editMode">
        <div class="screen-holder row-fluid">
            <div class="screen">
                <img ng-src="{{images[screen.id].imageData}}" ng-init="screen.getImageData()"
                     ng-dblclick="addSpot($event,screen.id)">

                <div class="spot-holder" draggable
                     style="top:{{spot.top}}px; left: {{spot.left}}px; width:{{spot.width}}px; height: {{spot.height+20}}px"
                     ng-repeat="spot in screen.hotspots" data-screen="{{screen.id}}" data-id="{{$index}}"
                     title="{{screens[spot.target].imageName || 'Double click on me &amp; choose target image from left'}}"
                     ng-class="{'animated pulse':spotId == $index }">
                    <span class="btn btn-danger btn-mini delete" ng-click="deleteSpot(screen.id,
                    $index)">
                        X
                    </span>
                    <span class="handle">
                    </span>
                    <span resizable class="spot" ng-class="{haveTarget:spot.target}" data-screen="{{screen.id}}"
                          data-id="{{$index}}"
                          style="width:{{spot.width}}px; height: {{spot.height}}px; line-height: {{spot.height}}px"
                          ng-dblclick="selectTarget(screen.id, $index)">
                        <span>{{screens[spot.target].imageName || 'No target yet ...'}}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="spot-list">
            <div class="fold" ng-click="toggleSpotList()">
                <strong>{{screen.hotspots.length}}</strong> Hotspots
            </div>
            <div class="list" ng-show="!showHotspot">
                <ul class="unstyled">
                    <li ng-repeat="spot in screen.hotspots">
                        <span ng-click="selectTarget(screen.id, $index)">
                            {{screens[spot.target].imageName || 'No target yet ...'}}
                        </span>
                        <button class="btn btn-mini btn-danger" ng-click="deleteSpot(screen.id,$index)">
                            X
                        </button>
                        <button class="btn btn-mini btn-primary" ng-click="makePersistent(spot, screen.id)">Make
                            persistent
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <div class="intro" ng-hide="screen.id">
            <span style="font-size: 150%">Hi there! <strong>Thank you</strong> for dropping by.</span> <br>
            ProtoApp is a simple application to create workflow demo.
            <br>
            It is done by simply creating hot spots on the image and linking the image to the target image.
            <br>The process is quite simple ...
            <ul>
                <li>Drop your images on the big fat "+drop files here" area on the left of the screen.</li>
                <li>Refresh the screen (this is necessary, otherwise the image will not appear, I am still working on
                    the fix)
                </li>
                <li>Double click on the image to create hot spot, and you can position and resize them.</li>
                <li>Now double click on the hot spot created to make it accept target. Click on your target image on the left.</li>
                <li>That's it. You can view how it will look like clicking on preview button and finally click on export button to download the HTML page.</li>
            </ul>

        </div>
    </div>
</div>

<div class="view" ng-show="!editMode">
    <div class="screen">
        <img ng-src="{{images[screen.id].imageData}}" ng-init="screen.getImageData()">
        <span class="link" ng-click="changeScreen(spot.target)"
              style="top:{{spot.top+28}}px; left: {{spot.left+2}}px; width:{{spot.width}}px; height: {{spot.height}}px"
              ng-repeat="spot in screen.hotspots">
            <span class="dot" style="top:{{((spot.height/2)-10)}}px; left: {{((spot.width/2)-10)}}px;"></span>
        </span>
    </div>
</div>
